/* ******************************************** */
/* *** The features-simple-icons-02 *** */
/* ******************************************** */
@layer components.features {
  .features__simple-icons-02 {
    max-inline-size: var(--max-width-desktop);
    background-color: var(--bg-primary);
    padding-block: var(--spacing-9xl);
    text-align: center;
    text-wrap: balance;
    /* Vertical Spacing */
    --_gap: var(--spacing-7xl);
  }
  @media (width <= 375px) {
    .features__simple-icons-02 {
      padding-block: var(--spacing-7xl);
      --_gap: var(--spacing-6xl);
    }
  }
  .features__simple-icons-02-header {
    max-inline-size: var(--container-max-width-desktop);
    padding-inline: var(--container-padding-desktop);
    /* Vertical Spacing */
    --_gap: var(--spacing-4xl);
  }
  @media (width <= 375px) {
    .features__simple-icons-02-header {
      padding-inline: var(--container-padding-mobile);
    }
  }
  /* Nesting */
  .features__simple-icons-02-header .content {
    /* Vertical Spacing */
    --_gap: var(--spacing-6xl);
  }
  @media (width <= 375px) {
    .features__simple-icons-02-header .content {
      /* Vertical Spacing */
      --_gap: var(--spacing-4xl);
    }
  }
  .features__simple-icons-02-header .heading-and-supporting-text {
    max-inline-size: var(--width-xl);
    /* Vertical Spacing */
    --_gap: var(--spacing-2xl);
  }
  @media (width <= 375px) {
    .features__simple-icons-02-header .heading-and-supporting-text {
      /* Vertical Spacing */
      --_gap: var(--spacing-xl);
    }
  }
  .features__simple-icons-02-header .heading-and-subheading {
    /* Vertical Spacing */
    --_gap: var(--spacing-lg);
  }
  .features__simple-icons-02-header .text-md--semibold {
    color: var(--text-brand-secondary-700);
  }
  @media (width <= 375px) {
    .features__simple-icons-02-header .text-md--semibold {
      font-size: var(--text-sm);
      line-height: var(--line-height-text-sm);
    }
  }
  @media (width <= 375px) {
    .features__simple-icons-02-header .display-md--semibold {
      font-size: var(--display-sm);
      line-height: var(--line-height-display-sm);
    }
  }
  .features__simple-icons-02-header .text-xl--regular {
    color: var(--text-tertiary-600);
  }
  @media (width <= 375px) {
    .features__simple-icons-02-header .text-xl--regular {
      font-size: var(--text-lg);
      line-height: var(--line-height-text-lg);
    }
  }
  /* end of the features__simple-icons-02__header class */
  .features__simple-icons-02-main {
    max-inline-size: var(--container-max-width-desktop);
    padding-inline: var(--container-padding-desktop);
    /* Vertical Spacing */
    --_gap: var(--spacing-7xl);
  }
  @media (width <= 375px) {
    .features__simple-icons-02-main {
      padding-inline: var(--container-padding-mobile);
    }
  }
  /* Nesting */
  .features__simple-icons-02-main .content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    column-gap: var(--spacing-4xl);
    row-gap: var(--spacing-7xl);
  }
  .features__simple-icons-02-main .content > * {
    max-inline-size: 24rem;
    flex: 1 1 20rem;
    align-self: stretch;
  }
  @media (width <= 375px) {
    .features__simple-icons-02-main .content {
      row-gap: var(--spacing-5xl);
    }
  }
  .features__simple-icons-02-main .feature-text {
    /* Vertical Spacing */
    --_gap: var(--spacing-2xl);
  }
  @media (width <= 375px) {
    .features__simple-icons-02-main .feature-text {
      --_gap: var(--spacing-xl);
    }
  }
  .features__simple-icons-02-main .featured-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    padding: 0.75rem;
    /* Border */
    border-radius: var(--radius-lg);
    outline: 1px solid var(--featured-icon-modern-border);
    background-color: var(--bg-primary);
    /* Shadows/shadow-xs-skeuomorphic */
    box-shadow: 0 0 0 1px var(--shadow-skeumorphic-inner-border) inset, 0 -2px 0 0 var(--shadow-skeumorphic-inner) inset, 0 1px 2px 0 var(--shadow-xs);
  }
  @media (width <= 375px) {
    .features__simple-icons-02-main .featured-icon {
      width: 2.5rem;
      height: 2.5rem;
      padding: 0.625rem;
    }
  }
  .features__simple-icons-02-main .featured-icon > svg {
    stroke: var(--fg-secondary-700);
    width: 1.5rem;
    height: 1.5rem;
  }
  @media (width <= 375px) {
    .features__simple-icons-02-main .featured-icon > svg {
      width: 1.25rem;
      height: 1.25rem;
    }
  }
  .features__simple-icons-02-main .text-and-supporting-text {
    /* Vertical Spacing */
    --_gap: var(--spacing-md);
  }
  @media (width <= 375px) {
    .features__simple-icons-02-main .text-and-supporting-text {
      --_gap: var(--spacing-xs);
    }
  }
  @media (width <= 375px) {
    .features__simple-icons-02-main .text-xl--semibold {
      font-size: var(--text-lg);
      line-height: var(--line-height-text-lg);
    }
  }
  .features__simple-icons-02-main .text-md--regular {
    color: var(--text-tertiary-600);
  }
  /* end of the features__simple-icons-02-main class */
} /* end of the components.features layer */